body{
	background-color:#282C7D;
}
table{
	width: 100%;
	text-align: left-corner;
	color: white;
	font-size:30px;
	border-collapse: collapse;
}
.produtospromocoes{
	background-color:#282C7D;
	text-align: center;
	font-size:40px;
}
.produtosclicaveis{
	background-color:#282C7D;
	border-color:#282C7D;
}
.cabecalho{
	background-color:#222347
}
.produto{
	text-align:center;
	font-size:80px;
}
a{
	color:white;
	text-decoration: none;
}
.pag_produto{
	background:#3E45CC;
}
.contato{
	font-size:80px;
	text-align:center;
}
