li{
    display:inline-block;
    text-decoration: none;
}
body{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 2em;
    background-color:#e5e5e5;
}
#body_color{
    background-color: aliceblue;
}
#header{
    position: relative;
    margin-top: 2rem;
}
div{
    width: 100%;
}
.block_text{
    color:white;
}
#arrow{
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    margin-left: 42rem;
}
#arrow:hover{
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 90px;
    width: 90px;
}
.text_color{
    color:black;
}
#sub_logo{
    font-size:20px; 
    padding-top:4em;
    text-align: center;
}
.img_menu{
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}
#dowload{
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
}
#img_pos01{
    width:  310px;
    height: 444px ; 
    position: relative;
    margin-left:14rem ;   
}
#img_pos02{
    width: 310px ;
    height:209px ;  
    position: relative; 
    margin-top: -27.8rem; 
    margin-left:  35rem;
}
#img_pos03{
    width: 310px;
    height: 209px ; 
    position: relative; 
    margin-top: -13.1rem; 
    margin-left: 56rem;
}

#img_pos04{
    width: 310px;
    height: 209px ;
    position: relative;
    margin-top: 17rem; 
    margin-left: 14rem;    
}
#img_pos05{
    width: 650px;
    height:447px ;
    position: relative;
    margin-top: -28rem; 
    margin-left: 35rem;    
    
}
#img_pos06{
    width: 310px;
    height:209px ;   
    position: relative; 
    margin-top: 2rem; 
    margin-left: 14rem;  
}
#img_pos07{
    width: 310px;
    height: 444px ; 
    position: relative; 
    margin-top: -13.1rem; 
    margin-left: 35rem;   
}
#img_pos08{
    width: 310px;
    height: 444px;   
    position: relative; 
    margin-top: -28rem; 
    margin-left: 56rem;    
}
#img_pos09{
    width:310px;
    height:209px;
    position: relative; 
    margin-top: -13rem; 
    margin-left: 14em;
        
}
#Copyright{
  text-align: center;
}
#icon{
   position: relative;
   margin-left: 43rem;
   padding-top: 5rem;
}
#footer{
    padding-bottom: 5em;
    padding-top: 5em;
}