body{
    margin:0;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color:white;
}
#header{
    width: 100%;
    background-color:rgba(0,0,0,70%);
    margin-top: 0;
    position:fixed;
    height: 9vh;
    z-index: 6;
}
#logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#container_buttons{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-left: 40vw;
    margin-top: -11vh;
}
.buttons{
    color:white;
    display: inline-block;
    font-size: 1rem;
    padding-right: 1rem ;
    padding-left: 1rem ;
}
#arrow-down{
    background-color: grey;
    border-radius: 30rem;
}
#clique_conheca{
    background-color: greenyellow;
    border-radius: 0.1rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
}
#foda_se{
    height: 100vh;
}
#container_colégio{
    font-size: 1.5rem;
}
#signin{
    padding-right: 1rem;
}
#container_colegio{
    position: relative;
    bottom: 20em;
    left: 1rem;
    z-index: 6;
}